@import 'global.scss';

.App {
  text-align: center;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.headerWrapper {
  background-color: #625454;
  height: 100px;
  padding: 10px;
}

.appTitle {
  font-size: 22px;
  font-weight: 100;
  color: $text-gray;
  margin-top: 5px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.fas {
  margin-bottom: 10px;
}

.navLink {
  margin-right: 10px;
  margin-left: 10px;
  text-decoration: none;
  color: $text-gray;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $text-gray;
}

.active {
  color: white;
}

.canvasTopWrapper {
  height: 30px;
  padding: 10px;
  background-color: gray;
}

.canvasAndSides {
  display: flex;
  flex-direction: row-reverse;
}

.canvasRightWrapper {
  background-color: lightgray;
  position: absolute;
  height: 100%;
  width: 220px;
}

.canvasTopWrapper {
  display: flex;
  height: auto;
  padding: 4px;
}

.sliderValue {
  margin-bottom: 5px;
}

.statisticsWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 18;
}

.buttonsArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menuButton {
  width: 80px;
  margin-bottom: 10px;
}

.loadInput {
  width: 220px;
}