.App {
  text-align: center;
}

.headerWrapper {
  background-color: brown;
  height: 130px;
  padding: 20px;
}

.navLink {
  margin-right: 10px;
}

.canvasTopWrapper {
  height: 30px;
  padding: 10px;
  background-color: gray;
}

.canvasAndSides {
  display: flex;
  flex-direction: row-reverse;
}

.canvasRightWrapper {
  background-color: lightgray;
  position: absolute;
  height: 100%;
  width: auto;
}

.canvasTopWrapper {
  display: flex;
  height: auto;
  padding: 4px;
}

.sliderValue {
  margin-bottom: 5px;
}

.statisticsWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 18;
}
