@import 'global.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

.App {
  text-align: center;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

.canvasAndSides {
  display: flex;
  flex-direction: row-reverse;
}

.statisticsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  background-color: $text-gray;
  height: 100%;
  color: $main-brown
}