@import 'global.scss';

.headerWrapper {
  background-color: $main-brown;
  height: 100px;
  padding: 10px;
}

.appTitle {
  font-size: 22px;
  font-weight: 100;
  color: $text-gray;
  margin-top: 5px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.fas {
  margin-bottom: 10px;
}

.navLink {
  margin-right: 6px;
  margin-left: 10px;
  text-decoration: none;
  color: $text-gray;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $text-gray;
}

.active {
  color: white;
}